.filterLabel {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  color: blue;
}

.filterInput {
  width: 350px;
  outline: rgb(247, 180, 73);
  border: 2px solid rgb(241, 152, 7);
  border-radius: 4px;
}
